<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Charting" version="0.90.14" targetFramework="net452" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net461" />
  <package id="FSharp.Data" version="2.3.2" targetFramework="net461" />
  <package id="FsUnit" version="2.3.2" targetFramework="net461" />
  <package id="Google.DataTable.Net.Wrapper" version="3.1.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NUnit" version="3.5.0" targetFramework="net461" />
  <package id="XPlot.GoogleCharts" version="1.4.2" targetFramework="net461" />
</packages>